{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook &mdash; {{ conference }}{% endblock %}

{% block body %}
    <h2>{{ conference }} Conference</h2>

    {% if comments | length > 0 %}
        <div>There are {{ comments | length }} comments.</div>
        {% for comment in comments %}
            <h4>{{ comment.author }}</h4>
            <small>{{ comment.createdAt | format_datetime('medium', 'short') }}</small>
            <p>{{ comment.text | raw }}</p>
            {% if comment.photofilename %}
                <img
                    src="{{ asset('uploads/photos/' ~ comment.photoFilename)}}"
                    alt="{{ conference ~ ' ' ~ comment.author }}"
                    style="width: 200px; height: 100px;"
                />
            {% endif %}
        {% endfor %}

        {% if previous >= 0 %}
            <a href="{{ path('app_conference_show', { slug: conference.slug, offset: previous }) }}">Previous</a>
        {% endif %}

        {% if next < comments | length %}
            <a href="{{ path('app_conference_show', { slug: conference.slug, offset: next }) }}">Next</a>
        {% endif %}
    {% else %}
        <div>No comments have been posted yet for this conference.</div>
    {% endif %}

    <h2>Add your own feedback</h2>

    {{ form_start(comment_form) }}
        {{ form_widget(comment_form) }}
        <button type="submit">Submit</button>
    {{ form_end(comment_form) }}
{% endblock %}
